{% extends "jiji/base.html" %} 
{% load crispy_forms_tags%}
{% block content %}
         <div class="w3-row w3-card w3-padding ">
                <div class="w3-third w3-container w3-padding">
                {% if product.image %}
                        <img src="{{product.image.url}}" style="width:60%;height:60%"><br><br>
                {% endif %}
                </div>
                <div class="w3-third w3-container w3-padding">
        
                    <b>Price: </b>  {{product.price}}<br><br>
                    <b>Location: </b> {{product.seller.state_of_residence}}<br><br>
                    <b>Description : </b> {{product.description}}<br><br>
                   

                </div>
        </div><br>

    {% if request.user.is_authenticated %}

                <a href="{% url 'update_product' product.id %}">
                    <div class="form-check">
                        {% if product.is_sold == True %}
                            <input class="form-check-input" type="checkbox" value="" checked>
                        {% else%}
                            <input class="form-check-input" type="checkbox" value="">
                        {% endif %}
                            <label class="form-check-label " for="flexCheckDefault">
                                Mark as sold
                            </label>
                    </div>
                </a> <br>
                <a class="w3-button w3-medium w3-round-large w3-red "href="{% url 'delete' product.id%}"style="text-decoration:none">Delete</a>
                
                <a class="w3-button w3-medium w3-round-large w3-amber "href="{% url 'dashboard'%}"style="text-decoration:none">Back</a>

                <h3 class="w3-center">Interested Buyers : </h3>
                {% for interest in interests %}
                    <ul class="w3-ul ">
                        <li class="w3-card w3-round w3-margin w3-padding-24">
                            <b>Name: </b>{{interest.name}}<br>
                            <b>Email: </b> {{interest.email}}<br>
                            <b>Location: </b>{{interest.location}}<br>
                        </li>
                    </ul>
                {% empty %}
                        <p>There are no buyers yet.</p>
                {% endfor %}

    {% else %}

         {% if interest %}
                <h2>Your request has been sent! The seller will contact you soon.</h2>
                <a class="w3-margin" href="{% url 'products'%}">Check Other Products</a> <br>
         {% else %}
            <h2 class="w3-center w3-opacity ">Contact Seller</h2><hr>
            <form class= "w3-container" method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <p><input class="w3-button w3-large w3-amber w3-round-large" type="submit" value="Send"></p>
            </form>
        {% endif %}

    {% endif %}


 {% endblock content %}